In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [3]:
#Reading the data
train_data = pd.read_csv('train.csv', index_col = 'Id')
test_data = pd.read_csv('test.csv', index_col = 'Id')

In [16]:
#Extracting the target and predictors
y = train_data.SalePrice
features = ['MSSubClass', 'LotArea', 'YearBuilt', '1stFlrSF', '2ndFlrSF', 'FullBath', 'BedroomAbvGr', 'TotRmsAbvGrd']
X = train_data[features].copy()
X_test = test_data[features].copy()

In [17]:
#Splitting the data
X_train, X_valid, y_train, y_valid = train_test_split(X, y, train_size = 0.8, test_size = 0.2, random_state = 0)

In [18]:
X_train.head()

,MSSubClass,LotArea,YearBuilt,1stFlrSF,2ndFlrSF,FullBath,BedroomAbvGr,TotRmsAbvGrd
Id,,,,,,,,
619,20,11694,2007,1828,0,2,3,9
871,20,6600,1962,894,0,1,2,5
93,30,13360,1921,964,0,1,2,5
818,20,13265,2002,1689,0,2,3,7
303,20,13704,2001,1541,0,2,3,6

In [19]:
#Testing different types of models
from sklearn.ensemble import RandomForestRegressor

model_1 = RandomForestRegressor(n_estimators = 50, random_state = 0)

model_2 = RandomForestRegressor(n_estimators = 100, random_state = 0)

model_3 = RandomForestRegressor(n_estimators = 100, criterion = 'absolute_error', random_state = 0)

model_4 = RandomForestRegressor(n_estimators = 200, min_samples_split =20, random_state = 0)

model_5 = RandomForestRegressor(n_estimators = 100, max_depth = 7, random_state = 0)

models = [model_1, model_2, model_3, model_4, model_5]

In [20]:
#Analyzing the score of every created model
from sklearn.metrics import mean_absolute_error

#Creating a function for comparing different models
def score_model(model, X_t = X_train, X_v = X_valid, y_t = y_train, y_v = y_valid):
    model.fit(X_t, y_t)
    preds = model.predict(X_v)
    return mean_absolute_error(y_v, preds)

for i in range(0, len(models)):
    mae = score_model(models[i])
    print("Model %d MAE: %d" % (i+1, mae))

Model 1 MAE: 23730
Model 2 MAE: 23536
Model 3 MAE: 23281
Model 4 MAE: 23766
Model 5 MAE: 23222

In [22]:
#Choosing the best result
model_5.fit(X, y)

preds_test = model_5.predict(X_test)

output = pd.DataFrame({'Id':X_test.index, 'SalePrice': preds_test})

output.to_csv('Predictions.csv', index = False)

output

        Id      SalePrice
0     1461  125082.618608
1     1462  160987.890446
2     1463  178771.855567
3     1464  178736.084290
4     1465  188935.746490
...    ...            ...
1454  2915   96613.035560
1455  2916   97146.026255
1456  2917  163422.329794
1457  2918  143145.627087
1458  2919  228339.284546

[1459 rows x 2 columns]